<tr>
  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8">
    <%= link_to @action_event.title, @action_event %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <!--    <div class="relative inline-block text-left" data-controller="dropdown">-->
    <!--      <div>-->
    <!--        <button type="button" data-action="click->dropdown#toggle click@window->dropdown#hide" data-dropdown-target="button" tabindex="0" class="inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100" id="menu-button" aria-expanded="true" aria-haspopup="true">-->
    <!--          Options-->
    <!--          <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">-->
    <!--            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />-->
    <!--          </svg>-->
    <!--        </button>-->
    <!--      </div>-->
    <!--      <div data-dropdown-target="menu" class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">-->
    <!--        <div class="py-1">-->
    <%# @action_event.dogs.each do |dog| %>
    <%#= link_to dog.name, dog, class: "text-gray-700 block px-4 py-2 text-sm"%>
    <%# end %>
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <% @action_event.dogs.each do |dog| %>
      <span class="inline-flex items-center rounded-full bg-gray-100 px-3 py-0.5 text-sm font-medium text-gray-80">
        <%= link_to dog.name, dog %>
        </span>
    <% end %>

  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= @action_event.due_date %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= render TagsComponent.new(tags: @action_event.tag_list) %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= render StatusBadgeComponent.new(status: @action_event.status) %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= render(PrimaryButtonWithLinkComponent.new(button_text: "take action", button_link: take_action_action_event_url(@action_event), button_size: 2)) %></td>
</tr>
