<li class="relative bg-white py-5 px-4 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 hover:bg-gray-50">
  <div class="flex justify-between space-x-3">
    <div class="min-w-0 flex-1">
      <a href="<%= journal_path(@journal) %>" class="block focus:outline-none">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="truncate text-sm font-medium text-gray-900"><%= @journal.title %></p>
        <p class="truncate text-sm text-gray-500">
          <%= @journal.tag_list.join(', ') %>
        </p>
      </a>
    </div>
    <div class="flex-shrink-0 whitespace-nowrap text-sm text-gray-500">
      <%= formatted_time_display(@journal.created_at) %>
    </div>
  </div>
  <div class="mt-1">
    <p class="text-sm text-gray-600 line-clamp-2">
      <%= @journal.notes %>
    </p>
  </div>
</li>
