<li>
  <a href="<%= journal_path(@journal) %>" class="block hover:bg-gray-50">
    <div class="px-4 py-4 sm:px-6">
      <div class="flex items-center justify-between">
        <p class="truncate text-sm font-medium "><%= @journal.title %></p>
<!--        <div class="ml-2 flex flex-shrink-0">-->
<!--          <p class="inline-flex rounded-full  px-2 text-xs font-semibold leading-5"><%#= render StatusBadgeComponent.new(status: @action_event.status) %></p>-->
<!--        </div>-->
      </div>
      <div class="mt-2 sm:flex sm:justify-between">
        <div class="sm:flex">
          <p class="flex items-center text-sm text-gray-500">
            <%= render_svg "icons/user-group", styles: "fill-current icon-sm mr-2" %>
            <%= "Added By: #{@journal.author.name}" %>
          </p>
          <p class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0 sm:ml-6">
            <%= render_svg "icons/tag", styles: "fill-current icon-sm mr-2" %>
            <%= @journal.tag_list.join(", ") %>
          </p>
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
          <%= render_svg "icons/calendar", styles: "fill-current icon-sm mr-2" %>
          <p>
            Created on
            <%= formatted_time_display(@journal.created_at) %>
          </p>
        </div>
      </div>
    </div>
  </a>
</li>
