<div class="border-t border-gray-200">
  <dl>
    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
      <dt class="text-sm font-medium text-gray-500"> Name</dt>
      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= dog.name %></dd>
    </div>
    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
      <dt class="text-sm font-medium text-gray-500"> Registration Number</dt>
      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= dog.registration_number %></dd>
    </div>
    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
      <dt class="text-sm font-medium text-gray-500"> Birthday</dt>
      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= dog.birthday %></dd>
    </div>
    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
      <dt class="text-sm font-medium text-gray-500"> Sex</dt>
      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= dog.sex %></dd>
    </div>
    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
      <dt class="text-sm font-medium text-gray-500"> Color</dt>
      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= dog.color_list %></dd>
    </div>
    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
      <dt class="text-sm font-medium text-gray-500"> Pattern</dt>
      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= dog.pattern_list %></dd>
    </div>
    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
      <dt class="text-sm font-medium text-gray-500">Group</dt>
      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"> <%= dog.group.name %></dd>
    </div>
    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
      <dt class="text-sm font-medium text-gray-500">Notes</dt>
      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"> <%= dog.notes %></dd>
    </div>
    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
      <dt class="text-sm font-medium text-gray-500">Tags</dt>
      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <%= render TagsComponent.new(tags:dog.tag_list) %>
      </dd>
    </div>
    <% if dog.avatar.present? %>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Avatar</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"> <%= image_tag dog.avatar %></dd>
      </div>
    <% end %>
  </dl>
</div>
