<dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
  <div class="sm:col-span-1">
    <dt class="text-sm font-medium text-gray-500">Name</dt>
    <dd class="mt-1 text-sm text-gray-900"><%= dog.name %></dd>
  </div>
  <div class="sm:col-span-1">
    <dt class="text-sm font-medium text-gray-500">Registration Number</dt>
    <dd class="mt-1 text-sm text-gray-900"><%= dog.registration_number %></dd>
  </div>
  <div class="sm:col-span-1">
    <dt class="text-sm font-medium text-gray-500">Birthday</dt>
    <dd class="mt-1 text-sm text-gray-900"><%= dog.birthday %></dd>
  </div>
  <div class="sm:col-span-1">
    <dt class="text-sm font-medium text-gray-500">Sex</dt>
    <dd class="mt-1 text-sm text-gray-900"><%= dog.sex %></dd>
  </div>
  <div class="sm:col-span-1">
    <dt class="text-sm font-medium text-gray-500">Color</dt>
    <dd class="mt-1 text-sm text-gray-900"><%= dog.color_list %></dd>
  </div>
  <div class="sm:col-span-1">
    <dt class="text-sm font-medium text-gray-500">Pattern</dt>
    <dd class="mt-1 text-sm text-gray-900"><%= dog.pattern_list %></dd>
  </div>
  <div class="sm:col-span-2">
    <dt class="text-sm font-medium text-gray-500">Notes</dt>
    <dd class="mt-1 text-sm text-gray-900">
      <%= dog.notes %>
    </dd>
  </div>
  <div class="sm:col-span-2">
    <dt class="text-sm font-medium text-gray-500">Tags</dt>
    <dd class="mt-1 text-sm text-gray-900">
      <%= render TagsComponent.new(tags: dog.tag_list) %>
    </dd>
  </div>
  <div class="sm:col-span-2">
    <dt class="text-sm font-medium text-gray-500">Photos</dt>
    <dd class="mt-1 text-sm text-gray-900">
      <ul role="list" class="border border-gray-200 rounded-md divide-y divide-gray-200">
        <% dog.photos.each do |photo| %>
          <%= render Attachment::PhotoComponent.new(photo: photo) %>
        <% end %>
      </ul>
    </dd>
  </div>
  <div class="sm:col-span-2">
    <dt class="text-sm font-medium text-gray-500">Files</dt>
    <dd class="mt-1 text-sm text-gray-900">
      <ul role="list" class="border border-gray-200 rounded-md divide-y divide-gray-200">
        <% dog.files.each do |file| %>
          <%= render Attachment::FileComponent.new(file: file) %>
        <% end %>
      </ul>
    </dd>
  </div>
</dl>