<!-- This example requires Tailwind CSS v2.0+ -->
<ul role="list" class="space-y-3">
  <li class="bg-white shadow overflow-hidden px-4 py-4 sm:px-6 sm:rounded-md">
    <%= render SectionWrapperComponent.new do |section| %>
      <%= section.with_main_body do %>
        <%= render @dog %>
      <% end %>
      <%= section.with_section_nav do %>
<!--        <div class="mt-6 sm:mt-2 2xl:mt-5">-->
<!--          <div class="border-b border-gray-200">-->
<!--            <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">-->
<!--              <nav class="-mb-px flex space-x-8" aria-label="Tabs">-->
<!--                <a href="#" class="border-indigo-500 text-gray-900 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm" aria-current="page">Profile</a>-->

<!--                <a href="#" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">Calendar</a>-->

<!--                <a href="#" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">Recognition</a>-->
<!--              </nav>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <% end %>
      <%= section.with_section_header do %>
        <%= render PageHeaderComponent.new(header_name: 'Dog Information',
                                           primary_button_title: "Edit Dog",
                                           primary_button_link: edit_dog_path(@dog),
                                           subtitle: "Group: #{@dog.group.name}",
                                           secondary_button_title: "Retire Dog",
                                           secondary_button_link: dog_path(@dog)) do |header| %>
        <%= header.with_avatar do %>
            <%= image_tag avatar_url_for(@dog), class:  "h-16 w-16 rounded-full" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </li>
  <li class="bg-white shadow overflow-hidden px-4 py-4 sm:px-6 sm:rounded-md">
    <%= render SectionWrapperComponent.new do |section| %>
      <%= section.with_main_body do %>
        <%= render 'dog_journal' %>
      <% end %>
      <%= section.with_section_header do %>
        <%= render PageHeaderComponent.new(header_name: 'Dog Journal',
                                           primary_button_title: 'Add New Journal',
                                           primary_button_link:  new_dog_journal_path(@dog),
                                           subtitle: "",
                                           secondary_button_title: nil,
                                           secondary_button_link: nil) %>
      <% end %>
    <% end %>
  </li>
  <li class="bg-white shadow overflow-hidden px-4 py-4 sm:px-6 sm:rounded-md">
    <%= render SectionWrapperComponent.new do |section| %>
      <%= section.with_main_body do %>
        <div class="overflow-hidden bg-white shadow sm:rounded-md">
          <ul role="list" class="divide-y divide-gray-200">
            <% @action_events.each do |action_event| %>
              <%= render ActionEvents::StackedListItemComponent.new(action_event: action_event) %>
            <% end %>
          </ul>
        </div>
  <% end %>
      <%= section.with_section_header do %>

        <%= render PageHeaderComponent.new(header_name: 'Related Reminders',
                                           primary_button_title: 'Add New Reminder',
                                           primary_button_link:  new_action_event_path,
                                           subtitle: "Includes all the past reminders and future events in the next 30 days",
                                           secondary_button_title: nil,
                                           secondary_button_link: nil) %>
      <% end %>
    <% end %>
  </li>
</ul>
