<!-- This example requires Tailwind CSS v2.0+ -->

<ul role="list" class="space-y-3">
  <li class="bg-white shadow overflow-hidden px-4 py-4 sm:px-6 sm:rounded-md">
    <%= render SectionWrapperComponent.new do |section| %>
      <%= section.with_main_body do %>
        <%= render @dog %>
      <% end %>
      <%= section.with_section_header do %>
        <%= render SectionHeaderComponent.new(title: 'Dog Information') do %>
          <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none inline-flex">
            <%= link_to "Edit Dog", edit_dog_path(@dog), class: "inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
            <%= button_to "Retire Dog", dog_path(@dog), method: :delete, class: "inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </li>
  <li class="bg-white shadow overflow-hidden px-4 py-4 sm:px-6 sm:rounded-md">
    <%= render SectionWrapperComponent.new do |section| %>
      <%= section.with_main_body do %>
        <%= render 'dog_journal' %>
      <% end %>
      <%= section.with_section_header do %>
        <%= render SectionHeaderComponent.new(title: 'Dog Journal') do %>
          <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
            <%= link_to 'Add New Journal', new_dog_journal_path(@dog), class: "inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </li>
  <li class="bg-white shadow overflow-hidden px-4 py-4 sm:px-6 sm:rounded-md">
    <%= render SectionWrapperComponent.new do |section| %>
      <%= section.with_main_body do %>
        <%= render ActionEvents::ActionEventRecordsTableComponent.new(action_event_records: @action_event_records) %>
      <% end %>
      <%= section.with_section_header do %>
        <%= render SectionHeaderComponent.new(title: 'Related Reminders',
                                              subtitle: "Includes all the past reminders and future events in the next 30 days"
                                              ) do %>
          <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
            <%= link_to 'Add New Reminder', new_action_event_path, class: "inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </li>
</ul>
