<div class="mt-4 p-4 bg-white rounded-lg border border-gray-300 lg:p-10">
  <h3><%= t(".title") %></h3>
  <p class="mb-4 text-sm text-gray-700"><%= t(".description") %></p>

  <%= form_with url: account_transfer_path(account), method: :patch do |form| %>
    <div class="form-group">
      <%= form.label :user_id %>
      <%= form.collection_select :user_id, account.users.where.not(users: { id: current_user.id }), :id, :name, { prompt: true }, { class: "form-control" } %>
    </div>

    <%= form.button t(".transfer"), class: "ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500", data: { turbo_confirm: t(".are_you_sure") } %>
  <% end %>
</div>
