<%= tag.div id: dom_id(@photo) do %>
  <% unless @photo.destroyed? %>
    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
      <div class="w-0 flex-1 flex items-center">
        <!-- Heroicon name: solid/paper-clip -->
        <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd"/>
        </svg>
        <span class="ml-2 flex-1 w-0 truncate">
          <%= link_to @photo do %>
            <% if @file.variable? %>
              <%= image_tag @photo.variant(resize_to_fit: [200, nil]) %>
            <% else %>
              <span class="attachment__name"><%= @file.filename %></span>
            <% end %>
          <% end %>
        </span>
        <%= link_to "Delete",
                    attachment_url(@photo),
                    method: :delete,
                    data: {
                      "turbo-method": :delete
                    },
                    class: "inline-flex items-center justify-center px-4 py-2 border border-transparent font-medium rounded-md text-red-700 bg-red-100 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:text-sm" %>
      </div>
    </li>
  <% end %>
<% end %>
